/* EXTENDS */
.col-divider {
  width: 1px;
  height: 22px;
  margin: auto 30px;
  vertical-align: middle;
  background: #000;
}
/* THEME STYLE */
header {
  background: #fff;
  /*#212121;*/
  color: #000;
  /*#8a8a8a;*/
}
header .header-top {
  background: #111;
  color: #fff;
}
header a {
  color: inherit;
  text-decoration: none;
}
header a:hover {
  color: #fff;
  text-decoration: none;
}
header a:hover .text {
  text-decoration: underline;
}
header nav .nav-link {
  font-size: 18px;
  text-transform: uppercase;
}
header .col-divider {
  padding: 10px auto;
  background: #8a8a8a;
}
