body{
	font-family: 'Segoe UI', sans-serif;
	overflow-x: hidden;
}

.container-fluid{
	max-width: 1400px;
}

.btn-green{
	color: #fff;
	background: #36DEDE;
}

.max-displaySize{
	max-width: 1900px;
}

.box-with-shadow{
	border-radius: 45px;
	background: #fff;
	padding: 50px;
	-webkit-box-shadow: -9px 16px 50px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: -9px 16px 50px 0px rgba(0,0,0,0.16);
	box-shadow: -9px 16px 50px 0px rgba(0,0,0,0.16);
}

.mt-100{
	margin-top: 100px;
}

.custom-toggler.navbar-toggler {
	border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a{
	color: #487FEE;
	text-decoration: none;
	&:hover{
		outline: none;
		cursor: pointer;
	}
}

.form-control,
input, 
textarea{
	font-size: 22px;
	border-radius: 15px;
	padding: 35px 20px;
	resize: none;
	outline: none;
}

textarea{
	padding: 20px 20px !important;
}