footer{
	height: 330px;
	background-image: url("../images/footer.png");
	background-position: center top;
	background-size: 1920px auto;
	background-repeat: no-repeat;
	margin-top: 150px;

	text-align: center;
	line-height: 330px;
	vertical-align: middle;
	color: #fff;
}