header{
	color: #fff;

	a{
		color: inherit;
	}
	
	.nav-item{
		@media screen and (min-width: @mobilebreakpoint) {
			font-size: 22px;
			padding: 35px 35px;
		}
	}

	.navbar-brand{
		@media screen and (min-width: @mobilebreakpoint) {
			padding-left: 30px;
		}
	}

	@media screen and (max-width: @mobilebreakpoint){
		background-image: url("../images/main-bg.png");
		background-position: center -100px;
		background-size: 1920px auto;
		background-repeat: no-repeat; 
	}
}