section{
	color: #385792;

	&.welcome{
		//height: 1080px;
		background-image: url("../images/main-bg.png");
		//background-position: 100% auto;
		background-position: center top;
		background-size: 1920px auto;
		background-repeat: no-repeat;
		margin-top: -186px;
		padding-top: 186px;
	
		.welcome-text{
			color: white;
			font-size: @fontsize;
			font-weight: 400;

			h2{
				color: #385792;
				font-weight: bold;
				font-size: @headersize;

				@media screen and (max-width: @mobilebreakpoint) {
					font-size: @headersize*0.75;
				}
				@media screen and (max-width: @extrasmallmobilebreakpoint) {
					font-size: @headersize*0.5;
				}
			}

			a{
				color: inherit;
			}
			
			.btn{
				font-size: @fontsize;
				font-weight: 600;
				height: 57px;
				width: 268px;
				margin-top: 55px;
			}


			@media screen and (max-width: @mobilebreakpoint) {
				font-size: @fontsize*0.8;
			}
		}

		.laptop{
			//background-image: url("../images/laptop.png");
			//background-size: 760px 505px;
			width: 760px;
			height: 505px;
			margin: 45px auto 0;
			@media screen and (max-width: @mobilebreakpoint) {
				height: auto;
				img{
					max-width: 80%;
				}
			}
		}
	}

	&.going{
		&-up{
			background-image: url("../images/going-up.png");
			background-position: top center;
			background-size: 1920px 622px;
			background-repeat: no-repeat;

			.container-fluid:first-child{
				position: relative;
				&:after{
					position: absolute;
					display: block;
					content: '';
					width: 1921px;
					height: 831px;
					top: 740px;
					left: calc((1400px-1920px)/2);
					margin: auto;
					background-image: url("../images/going-up-bg.png");
					background-repeat: no-repeat;
					background-size: cover;
					z-index: -1;
				}
			}
		}
		&-down{
			background-image: url("../images/going-down.png");
			background-position: top center;
			background-size: 1920px 622px;
			background-repeat: no-repeat;
			
			.container-fluid:first-child{
				position: relative;
				&:after{
					position: absolute;
					display: block;
					content: '';
					width: 1927px;
					height: 966px;
					top: 370px;
					right: calc((1400px-1920px)/2);
					margin: auto;
					background-image: url("../images/going-down-bg.png");
					background-repeat: no-repeat;
					background-size: cover;
					z-index: -1;
				}
			}
		}

		&-down,
		&-up{
			position: relative;
			.header{
				height: 622px;
				font-size: @headersize;
				font-weight: 700;

				@media screen and (max-width: @mobilebreakpoint) {
					font-size: @headersize*0.75;
				}
				@media screen and (max-width: @extrasmallmobilebreakpoint) {
					font-size: @headersize*0.5;
				}

				h2{
					font-size: @headersize;
					margin-bottom: 0;
					margin: 0;
					vertical-align: middle;
					color: #fff;

					@media screen and (max-width: @mobilebreakpoint) {
						font-size: @headersize*0.75;
					}
					@media screen and (max-width: @extrasmallmobilebreakpoint) {
						font-size: @headersize*0.5;
					}
				}

				.icon{
					margin-top: 225px;
				}
			}
		}
	}

	&.products{
		h3{
			text-align: center;
			font-size: @headersize;
			font-weight: 600;
			small{
				font-size: 27px;
			}

			@media screen and (max-width: @mobilebreakpoint) {
				font-size: @headersize*0.75;
			}
			@media screen and (max-width: @extrasmallmobilebreakpoint) {
				font-size: @headersize*0.5;
			}
		}

		p, a{
			font-size: @fontsize;

			@media screen and (max-width: @mobilebreakpoint) {
				font-size: @fontsize*0.8;
			}
		}

		a{
			font-weight: 700;
		}

		.product{
			@media screen and (max-width: @mobilebreakpoint) {
				margin-top: 30px;
			}
		}
	}

	&.references{
		font-size: @fontsize;
		position: relative;

		.col-xl-6:not(:first-child){
			padding-top: 100px;
			@media screen and (max-width: @mobilebreakpoint) {
				padding-top: 30px;
			}
		}

		.col-xl-6{
			.box-with-shadow:not(:first-child){
				margin-top: 100px;
				@media screen and (max-width: @mobilebreakpoint) {
					margin-top: 30px;
				}
			}
		}

		h4{
			font-size: 40px;
			font-weight: 600;
			@media screen and (max-width: @mobilebreakpoint) {
				font-size: @headersize*0.65;
			}
		}

		@media screen and (max-width: @mobilebreakpoint) {
			font-size: @fontsize*0.8;
		}
	}

	&.contact{
		font-size: @fontsize;
		
		.person{
			.profile{
				.name{
					font-size: 35px;
					font-weight: 600;

					@media screen and (max-width: @extrasmallmobilebreakpoint) {
						font-size: 35px*0.75;
					}
				}
			}

			@media screen and (max-width: @mobilebreakpoint) {
				margin-top: 30px;
			}
		}

		form{
			padding: 25px 0 0;
		
			.btn{
				font-size: 22px;
				font-weight: 600;
				height: 57px;
				padding-left: 25px;
				padding-right: 25px;
			
				@media screen and (max-width: @extramobilebreakpoint){
					margin-top: 20px;
					width: 100%;
				}
			}

			.custom-checkbox label:before{
				top: 0.5rem;
			}
		}

		@media screen and (max-width: @mobilebreakpoint) {
			font-size: @fontsize*0.8;
		}
	}

	.icon{
		display: block;
		margin: 0 auto;
		width: 98px;
		height: 98px;
		background-size: 98px 98px;
		background-repeat: no-repeat;
		background-position: center center;
		&-box{
			background-image: url("../images/icon-box.png");
		}
		&-letter{
			background-image: url("../images/icon-letter.png");
		}
		&-message{
			background-image: url("../images/icon-message.png");
		}
	}
}