@mobilebreakpoint: 1200px;
@extramobilebreakpoint: 922px;
@extrasmallmobilebreakpoint: 576px;
@fontsize: 22px;
@headersize: 52px;

/* EXTENDS */
@import '_bootstrap.less';

/* THEME STYLE */
@import '_header.less';
@import '_footer.less';
@import '_sections.less';